<% prods.each do |produto| %>
<div class="col-md-4">
  <figure class="effect-marley-2">
    <%= cl_image_tag(produto.image.key,class:"img-responsive",:transformation=>[{:width=>350,:height=>250,:crop=>"scale"}]) %>
    <figcaption>
       <h4><%= produto.nome.titleize %></h4> 
      <h6><%= produto.descricao %></h6>
       <p>Valor Kg R$:<%= p ' ---' 
                          #produto.valor 
                      %></p>
    </figcaption>
  </figure>
</div>
<% end %>

<!-- <div class="col-md-4">
    <figure class="effect-marley">
      <img src="/img/9.jpg" alt="" class="img-responsive" />
      <figcaption>
        <h4>Frango</h4>
        <h6>Frango congelado Sadia</h6>
        <p>Valor Kg R$: 10,00 </p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4">
    <figure class="effect-marley">
      <img src="/img/10.jpg" alt="" class="img-responsive" />
      <figcaption>
        <h4>Peixe</h4>
        <h6>Matrinchã congelada</h6>
        <p>Valor Kg R$: 10,00 </p>
      </figcaption>
    </figure>
  </div>

  <div class="col-md-4">
    <figure class="effect-marley">
      <img src="/img/11.jpg" alt="" class="img-responsive" />
      <figcaption>
        <h4>Mandioca</h4>
        <h6>Mandioquinha congelada</h6>
        <p>Valor Kg R$: 5,00 </p>
      </figcaption>
    </figure>
  </div>

  <div class="col-md-4">
      <figure class="effect-marley">
        <img src="/img/12.jpg" alt="" class="img-responsive" />
        <figcaption>
          <h4>Carne Bovina</h4>
          <h6>Carne de Primeira</h6>
          <p>Valor Kg R$: 20,00 </p>
        </figcaption>
      </figure>
    </div>
    
    <div class="col-md-4">
      <figure class="effect-marley">
        <img src="/img/13.jpg" alt="" class="img-responsive" />
        <figcaption>
          <h4>Carne Bovina </h4>
          <h6>Carne Bovina</h6>
          <p>Valor Kg R$: 18,00 </p>
        </figcaption>
      </figure>
    </div> -->