<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="text-center hidden-xs">
        <h2>Tabela de Preços</h2>
    <%= cl_image_tag("placa_pp19qr.jpg", :quality=>30, :width=>974, :crop=>"scale") %>
    <h2>Produtos</h2>
    <p>Cortes de carnes especiais, suínos, aves e peixes para os amantes da boa gastronomia. Os produtos se destacam pela sua excelência, especialmente os alimentos frescos.</p><br><br>
  </div>
  <ul class="nav nav-pills">
        <!-- <style>
        li { background-color: #c33f3f;
            }
          </style> -->
          <li role="presentation"
          <%=
          if not defined?(params) or not params[:id].present?
            "class='"'active'"'".html_safe
          end
          %>
          ><a href="/produto/index">Todas Categorias</a></li>
          <% Produto.categories.each do |name,string| %>
          <%
          categoria = [ name, string ]
          if defined?(params) && params[:id].present?
            if categoria[1] == params[:id].to_i
              active = true
            end
          end
          %>
          <li role="presentation"
          <%=
          if active == true
            "class='"'active'"'".html_safe
          end
          %>
          ><a href="/produto/index/<%= p categoria[1] %>"><%= p categoria[0] %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="container">
        <%= render partial: "produto/produto",locals: {prods: @prods} %>
      </div>
    </div>
