<div class="text-center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h2><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></h2>
  </div>

  <div class="field">
    <h2><%= f.label :password %></h2>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <h2><%= f.password_field :password, autocomplete: "new-password" %></h2>
  </div>

  <div class="field">
    <h2><%= f.label :password_confirmation %><br /></h2>
    <h2><%= f.password_field :password_confirmation, autocomplete: "new-password" %></h2>
  </div>

  <div class="actions">
    <h2><%= f.submit "Sign up" %></h2>
  </div>
<% end %>

<%= render "devise/shared/links" %>
