<div class="container">
  <div class="col-xs-12">
    <h2>Sobre-Nós</h2>
    <p><%= @sobre.description if not @sobre.nil? %></p>
    <!-- <p>Em 2019, aos 20 anos de existência, olhamos para nossa trajetória e para nossos negócios com objetivo de nos preparar para o futuro. Nossa história começou em 1999, quando abrimos a casa de carne Badoi no centro de Campinápolis-MT.</p> -->
  </div>
  <div class="col-xs-6">
    <div class="btn-gamp"><a href="produto/index">Produtos</a></div>
  </div>
  <div class="col-xs-6">
    <div class="gamp-btn"><a href="/#contato">Whatsapp</a></div>
  </div>
</div>
