<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
    <div class="navbar-brand">
      <a href="/"><h1>Casa de Carnes Badoi</h1></a>
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <div class="menu">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="/" class="active">Inicio</a></li>
        <li role="presentation"><a href="/#sobre">Sobre-Nós</a></li>
        <li role="presentation"><a href="/produto/index">Produtos</a></li>
        <li role="presentation"><a href="/preco/index">Preços</a></li>
        <li role="presentation"><a href="/#especialidades">Serviços</a></li>
        <li role="presentation"><a href="/#contato">Contato</a></li>
        <li role="presentation"><a href="/site/admin">Admin</a></li>
      </ul>
    </div>
  </div>
</div>
