<div class="text-center">
  <h2>PRODUTOS</h2>
  <p>Cortes de carnes especiais, suínos, aves e peixes para os amantes da boa gastronomia. Os produtos se destacam pela sua excelência, especialmente os alimentos frescos.</p>
</div>
<div class="container">

<% @produtos.each do |produto| %>
  <div class="col-md-4">
    <figure class="effect-marley-1">
      <%= cl_image_tag(produto.image.key,class:"img-responsive",:transformation=>[{:width=>350,:height=>250,:crop=>"scale"}]) %>
         <figcaption>
       <h4><%= produto.nome.titleize %></h4> 
      <h6><%= produto.descricao %></h6>
      <% if controller_name != "inicio" %>
        <p>Valor Kg R$:
        <% p ' ---' %> 
        <% p produto.valor %> 
        </p>
      <% end %>
    </figcaption>
    </figure>
  </div>
<% end %>
</div>
