<div class="container">
  <div class="text-center">
    <h2>Nossos Serviços</h2>
  </div>
  <% @informacoes.each do |informacao| %>
  <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <i><%= cl_image_tag(informacao.image.key,class:"img-responsive", :transformation=>[{:width=>190,:height=>100,:crop=>"scale"}]) %></i> 
    <h3><%= informacao.title.titleize %></h3>
    <p><%= informacao.description %></p>
  </div>
  <% end %>
</div>
   <!--  
    <h3>Carnes Especiais</h3>
    <p>Peixes Variados.</p>
  </div> -->

