<div class="slider">
  <%= render partial: "inicio/slider" %>
</div>
<!--/#slider-->
<div id= "sobre">
  <div class="about">
    <%= render partial: "inicio/about" %>
  </div>
</div>
<section class="action">
  <div class="container">
    <div class="left-text hidden-xs">
      <h4><font color="#fff" size="6">Espaço Interno</font></h4>
      <p><em><font color="#fff" size="4">Refrigeração moderna e adequada.</font></em><br><br><font color="#fff" size="4">Com a melhor estrutura de toda a cidade.</font>
        <font color="#fff" size="4">A Casa de Carne Badoi desenvolve um trabalho único, oferece produtos de qualidade e preços competitivos.</font>
      </p>
    </div>
    <div class="right-image hidden-xs">
      <div id="slider_int">
        <div id="slider_foto">
          <div id="comslider_in_point_1794033"></div>
          <script type="text/javascript">
            var oCOMScript1794033=document.createElement('script');
            oCOMScript1794033.src="comslider1794033/comsliderd.js?timestamp=1552841375";
            oCOMScript1794033.type='text/javascript';
            document.getElementsByTagName("head").item(0).appendChild(oCOMScript1794033);
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gallery">
  <%= render partial: "inicio/produtos" %>
</div>
<div id="especialidades">
  <div class="services">
    <%= render partial: "inicio/services" %>
  </div>
</div>
