<div class="text-center">
    
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h2><%= f.label :email %><br /></h2>
      <h2><%= f.email_field :email, autofocus: true, autocomplete: "email" %></h2>
    </div>

    <div class="field">
      <h2><%= f.label :password %><br /></h2>
      <h2><%= f.password_field :password, autocomplete: "current-password" %></h2>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <h2><%= f.submit "Log in" %></h2>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>