<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @whatsapp_info.to %>
</p>

<%= link_to 'Edit', edit_whatsapp_info_path(@whatsapp_info) %> |
<%= link_to 'Back', whatsapp_infos_path %>
