<br/>
<div class="container">
  <div class="row">
    <div class="text-center">
       <h2>Tabela de Preços</h2><br />
    </div>
    <div class="col-sm-4">
      <div class="table-responsive">
        <center>
          <table>
            <tr>
              <td colspan="2"><h4>CARNE 1ª</h4></td>
              <td colspan="2"><h4>CARNE 2ª</h4></td>
            </tr>
            <tr>
              <td colspan="2"><img class="img-responsive" alt="carne de primeira" src="/img/tab1_carne1.jpg" ></td> <!-- width="175" height="125"  -->
              <td colspan="2"><img class="img-responsive" alt="carne de segunda" src="/img/tab_1carnevaca2.jpg"></td>
            </tr>
            <tr>
              <td><h5>coxão mole</h5></td>
              <td><h5>R$ 18,00</h5></td>
              <td><h5>acem</h5></td>
              <td><h5>R$ 15,00</h5></td>
             </tr>

             <tr>
              <td><h5>coxão duro</h5></td>
              <td><h5>R$ 18,00</h5></td>
              <td><h5>peito</h5></td>
              <td><h5>R$ 17,00</h5></td>
             </tr>
             <tr>
              <td><h5>alcatra</h5></td>
              <td><h5>R$ 18.00</h5></td>
              <td><h5>paleta</h5></td>
              <td><h5>R$ 17,00</h5></td>
             </tr>
             <tr>
              <td><h5>contra-filé</h5></td>
              <td><h5>R$ 18,00</h5></td>
              <td><h5>peixinho</h5></td>
              <td><h5>R$ 15,00</h5></td>
             </tr>
             <tr>
              <td><h5>picanha</h5></td>
              <td><h5>R$ 30,00</h5></td>
              <td><h5>musc. diant.</h5></td>
              <td><h5>R$ 15,00</h5></td>
             </tr>
             <tr>
              <td><h5>filé mignon</h5></td>
              <td><h5>R$ 18,00</h5></td>
              <td><h5>musc. tras.</h5></td>
              <td><h5>R$ 15,00</h5></td>
             </tr>
             <tr>
              <td><h5>patinho</h5></td>
              <td><h5>R$ 17,00</h5></td>
              <td><h5>capa do acém</h5></td>
              <td><h5>R$ ---</h5></td>
             </tr>
             <tr>
              <td><h5>paloma</h5></td>
              <td><h5>R$ 17,00</h5></td>
              <td><h5>capa do contra</h5></td>
              <td><h5>R$ 17,00</h5></td>
             </tr>
             <tr>
                <td><h5>lagarto</h5></td>
              <td><h5>R$ 18,00</h5></td>
              <td><h5>fraldinha</h5></td>
              <td><h5>R$ 17,00</h5></td>
             </tr>
             <tr>
              <td><h5>maminha</h5></td>
              <td><h5>R$ 20,00</h5></td>
              <td><h5>lombão</h5></td>
              <td><h5>R$ 17,00</h5></td>
             </tr>
             <tr>
               <td><h5>cupim</h5></td>
               <td><h5>R$ 20,00</h5></td>
               <td><h5>rabada</h5></td>
               <td><h5>R$ 08,00</h5></td>
              </tr>
              <tr>
                <td><h5></h5></td>
                <td><h5>R$ ---</h5></td>
                <td><h5>fígado</h5></td>
                <td><h5>R$ 10,00</h5></td>
               </tr>
               <tr>
                <td><h5>  </h5></td>
                <td><h5>R$ ---</h5></td>
                <td><h5>mocotó</h5></td>
                <td><h5>R$ ---</h5></td>
               </tr>
               <tr>
                <td><h5></h5></td>
                <td><h5>R$ ---</h5></td>
                <td><h5>dobradinha</h5></td>
                <td><h5>R$ 10,00</h5></td>
               </tr>
               <tr>
                <td><h5> </h5></td>
                <td><h5>R$ ---</h5></td>
                <td><h5>retalho</h5></td>
                <td><h5>R$ 12,00</h5></td>
               </tr>
             </table>
            </center>
          </div> <!-- 1  -->
        </div>
        <div class="col-sm-4">
          <div class="table-responsive">
            <center>
              <table>
                  <tr>
                    <td colspan="2"><h4>FRANGO</h4></td>
                    <td colspan="2"><h4>CARNE SUÍNA</h4></td>
                  </tr>
                  <tr>
                    <td colspan="2"><img class="img-responsive" alt="cortes de frango" src="/img/tab2cortesde_frango1.jpg" ></td>
                    <td colspan="2"><img class="img-responsive" alt="carne suína" src="/img/tab2carne_suina2.jpg" width="175" height="125"></td>
                  </tr>
                 <tr>
                   <td><h5>frango</h5></td>
                   <td><h5>R$ 8,50</h5></td>
                   <td><h5>pernil s/ osso</h5></td>
                   <td><h5>R$ ---</h5></td>
                </tr>

                    <tr>
                     <td><h5>asa</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>lombo</h5></td>
                     <td><h5>R$ ---</h5></td>
                    </tr>
                    <tr>
                     <td><h5>coxa</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>pernil c/ osso</h5></td>
                     <td><h5>R$ 17,00</h5></td>
                    </tr>
                    <tr>
                     <td><h5>sobrecoxa</h5></td>
                     <td><h5>R$ 18,00</h5></td>
                     <td><h5>suan</h5></td>
                     <td><h5>R$ 15,00</h5></td>
                    </tr>
                    <tr>
                     <td><h5>peito</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>costelinha</h5></td>
                     <td><h5>R$ 17,00</h5></td>
                    </tr>
                    <tr>
                     <td><h5>filé de peito</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>paleta c/ osso</h5></td>
                     <td><h5>R$ ---</h5></td>
                    </tr>
                    <tr>
                     <td><h5>moela</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>fraldinha</h5></td>
                     <td><h5>R$ ---</h5></td>
                    </tr>
                    <tr>
                     <td><h5>coração</h5></td>
                     <td><h5>R$ 28,00</h5></td>
                     <td><h5>pé e orelha</h5></td>
                     <td><h5>R$ 08,00</h5></td>
                    </tr>
                    <tr>
                     <td><h5>massa de kibe</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>toucinho</h5></td>
                     <td><h5>R$ 10,00</h5></td>
                    </tr>
                    <tr>
                     <td><h5>almôndega</h5></td>
                     <td><h5>R$ ---</h5></td>
                     <td><h5>kit feijoada</h5></td>
                     <td><h5>R$ --</h5></td>
                    </tr>
                    <tr>
                      <td><h5></h5>></td>
                      <td><h5>R$ ---</h5></td>
                      <td><h5>carne de sol</h5></td>
                      <td><h5>R$ 17,00</h5></td>
                     </tr>
                     <!-- <tr>
                       <td><h5>cupim</h5></td>
                       <td><h5>R$ 20,00</h5></td>
                       <td><h5>fígado</h5></td>
                       <td><h5>R$ 10,00</h5></td>
                      </tr>
                      <tr>
                       <td><h5>  </h5></td>
                       <td><h5>R$ ---</h5></td>
                       <td><h5>mocotó</h5></td>
                       <td><h5>R$ ---</h5></td>
                      </tr>
                      <tr>
                       <td><h5></h5></td>
                       <td><h5>R$ ---</h5></td>
                       <td><h5>dobradinha</h5></td>
                       <td><h5>R$ 10,00</h5></td>
                      </tr>
                      <tr>
                       <td><h5> </h5></td>
                       <td><h5>R$ ---</h5></td>
                       <td><h5>retalho</h5></td>
                       <td><h5>R$ 12,00</h5></td>
                      </tr> -->
                    </table>
                  </center>
                </div> <!-- 1  -->
            </div>
            <div class="col-sm-4">
              <div class="table-responsive">
                <center>
                  <table>
                    <tr>
                      <td colspan="2"><h4>LINGUIÇA</h4></td>
                      <td colspan="2"><h4>COSTELA</h4></td>
                      </tr>
                      <tr>
                        <td colspan="2"><img class="img-responsive" alt="linjuiça" src="/img/tab3linguica1.jpg" ></td>
                        <td colspan="2"><img class="img-responsive" alt="costela" src="/img/tab3costela2.png" ></td>
                      </tr>
                       <tr>
                         <td><h5>suína fina</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>costela diant.</h5></td>
                         <td><h5>R$ 10,00</h5></td>
                        </tr>

                        <tr>
                         <td><h5>frango fina</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>acém c/ osso</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>toscana pura</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>chambari</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>toscana frango</h5></td>
                         <td><h5>R$ 17,00</h5></td>
                         <td><h5>costela p.a</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>toscana perdigão</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>costela mindim</h5></td>
                         <td><h5>R$ 12,00</h5></td>
                        </tr>
                        <tr>
                         <td><h5>toscana mista</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>salsicha</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>calabresa grossa</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>mussarela</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>defumada fina</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>presunto</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                         <td><h5>caipira pura</h5></td>
                         <td><h5>R$ 20,00</h5></td>
                         <td><h5>mandioca especial</h5></td>
                         <td><h5>R$ 08,00</h5></td>
                        </tr>
                        <tr>
                         <td><h5>toscana sadia</h5></td>
                         <td><h5>R$ ---</h5></td>
                         <td><h5>gaúcha</h5></td>
                         <td><h5>R$ ---</h5></td>
                        </tr>
                        <tr>
                          <td><h5>linguiça pimentada</h5></td>
                          <td><h5>R$ 17,00</h5></td>
                          <td><h5></h5></td>
                          <td><h5>R$ ---</h5></td>
                         </tr>
                           <!--<tr>
                          <td><h5>coxão mole</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                           <td><h5>acem</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                          </tr>
                          <tr>
                           <td><h5>coxão mole</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                           <td><h5>acem</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                          </tr>
                          <tr>
                           <td><h5>coxão mole</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                           <td><h5>acem</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                          </tr>
                          <tr>
                           <td><h5>coxão mole</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                           <td><h5>acem</h5></td>
                           <td><h5>R$ 18.00</h5></td>
                          </tr> -->
                        </table>
                      </center>
                    </div>
                  </div> <!-- 1  -->
              </div>
</div>
<br />
<br />
<br />





