<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Casa de carne Badoi</title>
  <%= render partial: "layouts/fav" %>
  <!-- Bootstrap -->
  <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="banner">
      <%= render partial: "inicio/navbar"%>
    </nav>
  </header>
    <%= yield %>
  <footer>
  <div id= "contato">
    <div class="container">
      <div class="col-xs-12 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h4>Nosso Endereço</h4>
        <p></p>
        <div class="contact-info">
          <ul>
            <li><i class="fa fa-home fa"></i><b> Rua Vicente José de Oliveira, Nº: 930, Centro, Campinápolis-MT </b></li>
            <li><i class="fa fa-phone fa"></i><b> (66) 98128-2302</b></li>
            <li><i class="fa fa-envelope fa"></i><b> badoi@campinapolis.com</b></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="text-center">
            <h4><b>Veja Nossa Localização</b></h4>
            <figure class="indent-bot">
              <iframe width="100%" height="300px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d241.37889022079912!2d-52.796825452402!3d-14.538432308099283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36489ec670f62c8c!2sCasa+de+Carne+Badoi!5e0!3m2!1spt-BR!2sbr!4v1551982430187" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
              </iframe>
            </figure>
        </div>
       <!--  </div> -->
      </div>

      <!-- <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms"> -->
      <div class="col-xs-12 col-md-4 wow fadeInDown">
          <div class="entry-form">
            <%= render "layouts/whatsapp" %>
          </div>
      </div>
    </div>
  </footer>

</div>
</div>

  <div class="sub-footer">
    <div class="container-fluid">
      <div class="social-icon">
        <div class="col-xs-6 col-md-4">
          <div class="credits">
            <b>LINKS UTEIS</b>
          </div>
          <ul class="social-network">
            <li><a href="https://www.facebook.com/campinapolispontocom/" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>-->
            <!-- <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
            <li><a href="https://www.youtube.com/watch?v=YEy5qNO2qzw" class="ytube tool-tip" title="Churrasco de Picanha"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=An3bxm8mzCg" class="ytube tool-tip" title="Churrasco de Contra filé"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=lsqLeI_EQYE" class="ytube tool-tip" title="Churrasco de Frango"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=Q5VAd2lbN_c" class="ytube tool-tip" title="Churrasco de Linguiça"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div class="copyright">
          <b>&copy; campinapolis.com 2019</b>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Day
            -->
            <a href="https://campinapolis.com/"><b>ir para o site</b></a>
          </div>
        </div>
      </div>
    </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script>
    //wow = new WOW({}).init();
  </script>
</body>

</html>
